@import 'paging';
@import 'slide';

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0 0 70px;
    padding: 70px 0 0;
    width: 100%;
}

a {
    color: #6cb8c1;
    text-decoration: none;
}
a:hover {
    color: #3591a0;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

h1 {
    font-size: 64px;
    padding-bottom: 10px;
    padding-top: 10px;
}

h2 {
    font-size: 48px;
    padding-bottom: 10px;
    padding-top: 10px;
}

h3 {
    font-size: 32px;
    padding-bottom: 10px;
    padding-top: 10px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

ul > li.ng-enter {
    animation: fadeInUp 1s;
}

li {
    text-align: left;
}

ol li {
    font-size: 32px;
}

pre {
    margin: 0;
}

textarea {
    min-width: 100%;
}

.title {
    background-color: #6cb8c1;
    color: #fff;
    left: 0;
    line-height: 60px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

.content {
    background-color: #FFFFFF;
    color: #434C54;
    display: block;
    padding-left: 25px;
    padding-right: 25px;
}

.social {
    width: 32px;
}

code {
    font-family: monospace, monospace;
    font-size: 20px;
    text-align: left;
}

.left {
    float: left;
}

.right {
    float: right;
}

img.list-image {
    max-height: 60px;
}
