<div class="slide slide-9 partial-slide">
    <div ng-click="switchPartial($event)">
        <h1>Unit Testing
            <span ng-switch="showPartial">
                <span ng-switch-default>Filters</span>
                <span ng-switch-when="2">Directives</span>
            </span>
        </h1>
    </div>
    <hr>
    <ng-include src=" 'views/partials/slide-9-full-name-filter.html' " ng-if="showPartial === 1"></ng-include>
    <ng-include src=" 'views/partials/slide-9-header-directive.html' " ng-if="showPartial === 2"></ng-include>
</div>