<div class="slide slide-13 partial-slide">
    <div ng-click="switchPartial($event)">
        <h1>Configuring Protractor
            <span ng-switch="showPartial">
                <span ng-switch-when="2"> in Grunt</span>
            </span>
        </h1>
    </div>
    <hr>
    <ng-include src=" 'views/partials/slide-13-protractor-config.html' " ng-if="showPartial === 1"></ng-include>
    <ng-include src=" 'views/partials/slide-13-protractor-grunt-config.html' " ng-if="showPartial === 2"></ng-include>
</div>