<div class="slide slide-0">
    <h1><figure><img src="../images/pete_avatar.png"></figure>Pete Clodi</h1>
    <h2>Front End Software Engineer at Packback Books</h2>
    <a href="http://www.packbackbooks.com" target="_blank">
        <figure>
            <img src="../images/pb_logo.png">
        </figure>
        <h3>http://www.packbackbooks.com</h3>
    </a>
    <hr>
    <h2>Social Media</h2>
    <h4>
        <a href="https://www.google.com/+PeteClodi" target="_blank">
            <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>+PeteClodi
        </a>
        <a href="https://github.com/peteclodi-meetups" target="_blank">
            <img class="social" src="../images/github/png/GitHub-Mark-32px.png">peteclodi-meetups
        </a>
        <a href="https://twitter.com/peteclodi" target="_blank">
            <img class="social" src="../images/twitter/twitter_logo_blue.png">@peteclodi
        </a>
    </h4>
</div>
