.all-users {
    align-items: center;
    justify-content: center;
    min-width: 800px;

    h1 {
        font-size: 36px;
        text-align: center;
    }

    .users-list {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        line-height: 40px;

        &> div {
            align-content: flex-start;
            align-items: flex-start;
            display: flex;
            flex-direction: row;
            width: 100%;

            input[type="checkbox"] {
                align-self: center;
                flex-basis: 25px;
                flex-grow: 1;
                transform: scale(1.75);
            }
        }

        .header-row {
            border-bottom: groove;
            justify-content: flex-start;

            input[type="checkbox"] {
                align-self: center;
                flex-basis: 25px;
                flex-grow: 1;
                transform: scale(1.75);
            }

            span {
                flex-grow: 1;
                font-weight: 700;
                padding-left: 10px;
            }
        }

        .user-row {
            span {
                flex-basis: 200px;
                flex-grow: 5;
                padding-left: 10px;
            }

            a {
                color: #0000ff;
                cursor: pointer;
                flex-basis: 100px;
                flex-grow: 2;
                padding-left: 10px;
            }
        }
    }
}