@import 'user';
@import 'users';

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    max-width: 100%;
}

header {
    justify-content: center;
    margin-top: 20px;
    max-width: 1000px;

    a {
        background-color: #fff;
        color: #0000FF;

        &.active {
            background-color: #add8e6;
            border: solid #778899 1px;
            border-radius: 5px;
            color: #fff;
        }

        font-size: 20px;
        padding: 15px 30px;
        text-decoration: none;
    }
}

&>div[ng-view] {
    max-width: 1000px;
}

section {
    margin: 40px;
}
